<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Discord Login</title>
  </head>
  <body>
    <h1>Discord Login</h1>

    <p><a href={{ auth_url }}>Login with Discord</a></p>
  </body>
</html>
